{% load staticfiles %}
{% load crispy_forms_tags %}
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap-datetimepicker-standalone.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'site/rank.css' %}" />
  <body class="background">
   <div class="row">
        <div class="col-lg-2">
  <a href="{% url 'ranking' %}" class="btn btn-default" aria-label="Home">
      <span class="glyphicon glyphicon-home" aria-hidden="false"></span></a>

        </div>
        <div class="col-lg-9 text-right">
             <a href="{% url 'systemmessages' %}" class="btn btn-default">System Messages</a>
        </div>
   </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
              <div id="dataEntryForm">
                    {% crispy rankingform  %}
              </div>
        </div>
        <div class="col-lg-9">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Sprint</th>
                    <th>Date</th>
                    <th>Criteria</th>
                      <th>Team</th>
                      <th>Points</th>
                      <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                {% for entry in sprintDetail%}
                <tr>
                    <td><div class="pointDetail">{{ entry.sprint__name }}</div></td>
                    <td><div class="dateDetail">{{ entry.dataDate|date:'m-d-y' }}</div></td>
                      <td><div class="criteriaDetail">{{ entry.criteria__name }}</div></td>
                      <td><div class="teamDetail">{{ entry.team__name }}</div></td>
                    <td><div class="teamDetail">{{ entry.points }}</div></td>
                    <td><a href="{% url 'deleteranking' rankingId=entry.id %}" class="btn btn-primary btn-sm">Delete</a>
                    <a href="{% url 'editranking' rankingId=entry.id %}" class="btn btn-primary btn-sm">Edit</a></td>
                  </tr>
               {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>

</body>

<script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "vendor/moment/moment.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/bootstrap-datetimepicker.min.js" %}"></script>
 <script type="text/javascript">
    $(function () {
        $('#id_dataDate').datetimepicker({
            format: 'Y-MM-DD',
            defaultDate: moment().format('YYYY-MM-DD')
        });
    });
</script>