{% load staticfiles %}

<html>
  <head>
    <title>{{ title }}</title>
      <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'site/rank.css' %}" />
  </head>

  <body class="background">
<div class="jumbotron text-center">
  <h1>{{ title  }} </h1>
</div>
<div class="returnHome"><a href="{% url 'ranking' %}">Home</a></div>
<div class="container">


  <table class="table table-hover">
    <thead>
      <tr>
        <th>Sprint</th>
        <th>Date</th>
        <th>Criteria</th>
          <th>Team</th>
          <th>Points</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in details%}
    <tr>
        <td><div class="pointDetail">{{ entry.sprint__name }}</div></td>
        <td><div class="dateDetail">{{ entry.dataDate|date:'m-d-y' }}</div></td>
          <td><div class="criteriaDetail">{{ entry.criteria__name }}</div></td>
          <td><div class="teamDetail">{{ entry.team__name }}</div></td>
        <td><div class="teamDetail">{{ entry.points }}</div></td>
      </tr>
   {% endfor %}
    </tbody>
  </table>


</div>
  </body>

      <script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/bootstrap.min.js" %}"></script>
</html>