{% load staticfiles %}
{% load app_filters %}

<html>
  <head>
    <title>Leaderboard</title>
      <link rel="icon" href="data:,">
      <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'site/rank.css' %}" />
  </head>
  <body class="background">
<div class="jumbotron text-center">
    <div class="sprintTitle"><h1> <a href="{% url 'sprintdetail' sprintid=currentSprint.id %}">{{ currentSprint.name }}</a></h1></div>
</div>
{% if codeCommitEnabled %}
    <div class="marquee">
        {% for x in commits %}
            <span class="marquee-element">{{ x.authored_date }} {{ x.author_name }} {{ x.message|truncate_at_word }} <a href="{{ sourceServer }}{{ x.path_with_namespace }}/commits/{{ x.long_id }}" target="_blank">(link)</a></span>
        {% endfor %}
    </div>
{% endif %}
<div class="container-fluid">
    <div class="row text-right">
        <div class="col-lg-12">
            Last Updated: {{ lastModified | date:'Y-m-d P'}}
        </div>
    </div>
    <div id="mix-wrapper">
    {% for team in currentStandings%}
        <div class="card mix-target" data-order={{ team.total_points }}>
            <div class="row text-center">
                <div class="col-lg-3 card-align">
                    <div class="'rankingImage"> <img src="media/{{ team.profile_pic }}" /></div>
                </div>
                <div class="col-lg-3 card-align">
                    <div class="rankingName">{{ team.name }}</div>
                </div>
                <div class="col-lg-3 card-align">
                    <div class="rankingPoints" teamId={{ team.id }} teamName={{ team.name }}> <a href="{% url 'teamdetail' teamId=team.id %}"> {{ team.total_points }}</a></div>
                </div>
                <div class="col-lg-3 card-align">
                    <canvas teamName = {{ team.name }} team={{ team.id }} id="teamCanvas{{ team.id }}" class='teamGraph' height="75"></canvas>
                </div>
            </div>
        </div>

    {% endfor %}
 </div>
    <button id="randomSort" class="sort-btn hidden" data-sort="random">Random</button>
    <button id="descendingSort" class="sort-btn hidden" data-sort="order:desc">Descending</button>
</div>

<canvas id="lineChart" width="1455" height="200"></canvas>
{% if activeMessage%}
    {{ activeMessage|safe  }}
{% endif %}
<img src="{% static "img/refresh.png" %}" height="16px" width="16px" onclick="updateRankingPage();"/>
<a href="/dataentry"><img src="{% static "img/dataentry.png" %}" height="16px" width="16px"/></a>


  </body>

        <script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "vendor/moment/moment.min.js" %}"></script>
        <script src="{% static "vendor/d3/d3.v4.js" %}"></script>
        <script src="{% static "vendor/chart/Chart.js" %}"></script>
        <script src="{% static "vendor/bootstrap/bootstrap.min.js" %}"></script>
        <script src="{% static "vendor/mixitup/mixitup.js" %}"></script>
        <script src="{% static "vendor/marquee/jquery.marquee.js" %}"></script>
        <script src="{% static "site/rank.js" %}"></script>

<script>
{% if activeMessage%}
    $( "#lineChart" ).remove();
    $( ".marquee" ).remove();
{% else %}
    d3.json("api/teamSprintDates/", function (error, dateData) {
        buildTeamLeaderGraph(dateData)
    });
{% endif %}

{% if codeCommitEnabled %}
    $('.marquee').marquee({
        duration: 30000,
        direction: 'left',
        duplicated: true,
        pauseOnHover: true
    });
{% endif %}
</script>


</html>