{% load staticfiles %}
{% load app_filters %}

<html>
  <head>
    <title>{{ teamDetailsActive.0.team__name  }}</title>
      <link rel="icon" href="data:,">
      <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'site/rank.css' %}" />
  </head>

  <body class="background">
<div class="jumbotron text-center">
    <img src="../../../media/{{ teamData.profile_pic }}" />
    <h1>{{ teamData.name }} </h1>
</div>
{% if codeCommitEnabled %}
    <div class="marquee">
        {% for x in teamcommits %}
            <span class="marquee-element">{{ x.authored_date }} {{ x.author_name }} {{ x.message|truncate_at_word }} <a href="{{ sourceServer }}{{ x.path_with_namespace }}/commits/{{ x.long_id }}" target="_blank">(link)</a></span>
        {% endfor %}
    </div>
{% endif %}
<a href="{% url 'ranking' %}" class="btn btn-default" aria-label="Home">
  <span class="glyphicon glyphicon-home" aria-hidden="false"></span>
</a>

<div class="container">

<div class="row">
     <div class="col-lg-12">
     <canvas teamName = {{ teamData.name }} team={{ teamData.id }} id="teamCanvas{{ teamData.id }}" class='teamGraph' height="75"></canvas>
     </div>
</div>

{% if teamDetailsActive %}
    <div class="ActiveInactiveHeader">Active Sprints</div>
 <table class="table table-hover">
    <thead>
      <tr>
        <th>Sprints</th>
        <th>Date</th>
        <th>Criteria</th>
          <th>Comment</th>
          <th>Points</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in teamDetailsActive%}
    <tr>
        <td><div class="pointDetail">{{ entry.sprint__name }}</div></td>
        <td><div class="dateDetail">{{ entry.dataDate|date:'m-d-y' }}</div></td>
          <td><div class="criteriaDetail">{{ entry.criteria__name }}</div></td>
          <td><div class="teamComment">{{ entry.comment|default_if_none:""  }}</div></td>
        <td><div class="teamDetail">{{ entry.points }}</div></td>
      </tr>
   {% endfor %}
    </tbody>
  </table>
    <br />
{% endif %}

{% if teamDetailsInactive %}
    <div class="ActiveInactiveHeader">Inactive Sprints</div>
 <table class="table table-hover">
    <thead>
      <tr>
        <th>Sprint</th>
        <th>Date</th>
        <th>Criteria</th>
          <th>Comment</th>
          <th>Points</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in teamDetailsInactive%}
    <tr>
        <td><div class="pointDetail">{{ entry.sprint__name }}</div></td>
        <td><div class="dateDetail">{{ entry.dataDate }}</div></td>
          <td><div class="criteriaDetail">{{ entry.criteria__name }}</div></td>
          <td><div class="teamComment">{{ entry.comment|default_if_none:""  }}</div></td>
        <td><div class="teamDetail">{{ entry.points }}</div></td>
      </tr>
   {% endfor %}
    </tbody>
  </table>
{% endif %}

</div>
  </body>

        <script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "vendor/moment/moment.min.js" %}"></script>
        <script src="{% static "vendor/d3/d3.v4.js" %}"></script>
        <script src="{% static "vendor/chart/Chart.js" %}"></script>
        <script src="{% static "vendor/bootstrap/bootstrap.min.js" %}"></script>
        <script src="{% static "vendor/mixitup/mixitup.js" %}"></script>
        <script src="{% static "vendor/marquee/jquery.marquee.js" %}"></script>
        <script src="{% static "site/team.js" %}"></script>

<script>
         $(document).on('mouseenter', ".teamComment", function () {
     var $this = $(this);
     if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
         $this.tooltip({
             title: $this.text(),
             placement: "bottom"
         });
         $this.tooltip('show');
     }
 });

 {% if codeCommitEnabled %}
    $('.marquee').marquee({
        duration: 30000,
        direction: 'left',
        duplicated: true,
        pauseOnHover: true
    });
{% endif %}
</script>

</html>